---
import { getPageInfo } from "../lib/wp";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro"; // Asegúrate de crear este componente
import Layout from "../layouts/Layout.astro";

const pageInfo = await getPageInfo("inicio");
const pageId = pageInfo?.id ?? "";
const title = pageInfo?.title ?? "Inicio";
const pageUrl = "https://clic.baradero.gob.ar/inicio/";
const response = await fetch(pageUrl);
const pageHtml = await response.text();

let content = pageHtml.replace(/<header[\s\S]*?<\/header>/g, "");
content = content.replace(/<footer[\s\S]*?<\/footer>/g, "");
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body>
    <Layout title={title} pageId={pageId}>
      <Header slot="header" />
      <div set:html={content} />
      <Footer slot="footer" />
    </Layout>

    <script
      src="https://clic.baradero.gob.ar/wp-includes/js/jquery/jquery.min.js"
    ></script>
    <script
      src="https://clic.baradero.gob.ar/wp-content/plugins/elementor/assets/js/frontend.min.js"
    ></script>
  </body>
</html>
