---
---

<div class="w-full h-20 overflow-hidden relative">
    <img src="https://scontent.feze2-1.fna.fbcdn.net/v/t39.30808-6/472715671_1739128383297713_5436111155268443185_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=fccZ6ln0RX0Q7kNvwERu_bk&_nc_oc=Adkxs3xbyA0gMpG2bhpmLkXuthM2V0y-vSczXlycmW5G3uLYAImdExMHts-C6GenaeI&_nc_zt=23&_nc_ht=scontent.feze2-1.fna&_nc_gid=nX6_tzf7sb5mChLSrSJQaQ&oh=00_AfPcIVidPzRa9PWl8UyLzn5_ECfuiGDvt9Pk8RuKd6Fgnw&oe=684F3247" 
         alt="banner" 
         class="banner-responsive" 
         class="width: 100%; height: 100%; object-fit: cover;">
</div>