

<footer class="bg-white text-black text-sm px-0 py-10 border-t border-solid border-[#dcdcdc]">
    <div class="flex flex-col md:flex-row justify-around max-w-[1200px] flex-wrap mx-auto px-5 py-0 items-center md:items-start">

        <div class="flex-1 w-full text-center md:text-left min-w-[250px] mx-5 my-2.5 mb-8 md:mb-2.5">
            <h2 class="text-lg mb-5">Centro Universitario Baradero</h2>
            <p class="leading-[1.6] mb-5">Trabajamos para que tengas acceso a la mejor información en todo momento y en las mejores instalaciones de la ciudad.</p>
            <div class="flex justify-center md:justify-start socials">
                <a href="#" class="text-black text-xl border border-black p-2 rounded mr-[15px] inline-block no-underline"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-black text-xl border border-black p-2 rounded mr-[15px] inline-block no-underline"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-black text-xl border border-black p-2 rounded mr-[15px] inline-block no-underline"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="flex-1 w-full text-center md:text-left min-w-[250px] mx-5 my-2.5 mb-8 md:mb-2.5">
            <h2 class="text-lg mb-5">Enlaces rápidos</h2>
            <ul class="list-none p-0 text-center md:text-left">
                <li class="mb-2.5"><a href="#" class="text-black no-underline text-sm uppercase font-normal hover:underline">INICIO</a></li>
                <li class="mb-2.5"><a href="#" class="text-black no-underline text-sm uppercase font-normal hover:underline">FINES</a></li>
                <li class="mb-2.5"><a href="#" class="text-black no-underline text-sm uppercase font-normal hover:underline">CLIC</a></li>
                <li class="mb-2.5"><a href="#" class="text-black no-underline text-sm uppercase font-normal hover:underline">UNIVERSIDADES</a></li>
                <li class="mb-2.5"><a href="#" class="text-black no-underline text-sm uppercase font-normal hover:underline">NOTICIAS</a></li>
            </ul>
        </div>

        <div class="flex-1 w-full text-center md:text-left min-w-[250px] mx-5 my-2.5">
            <h2 class="text-lg mb-5">Información de contacto</h2>
            <p class="mb-2.5 leading-normal">Teléfono: + 3329-519696</p>
            <p class="mb-2.5 leading-normal">Email: centrouniversitario@gmail.com</p>
            <p class="mb-2.5 leading-normal">Dirección: esquina Thames y Gallo</p>
            <p class="mb-2.5 leading-normal">Ciudad: Baradero</p>
        </div>
    </div>

    <div class="text-center text-[13px] text-[#777777] mt-[30px] pt-5 border-t border-solid border-[#dcdcdc]">
        <p>&copy; 2025 Municipalidad. Todos los derechos reservados.</p>
    </div>
</footer>