---
import Layout from "../layouts/Layout.astro";
---

<layout>
  <header class="h-24 bg-[#4b4b4d] flex justify-between items-center">
    <img class="w-[190px] h-20 ml-10" src="./logo.png" />
    <nav class="flex justify-center items-center">
      <a
        href="#"
        class="text-white font-['system-ui',_'-apple-system',_'BlinkMacSystemFont',_'Segoe_UI',_'Roboto',_'Oxygen',_'Ubuntu',_'Cantarell',_'Open_Sans',_'Helvetica_Neue',_sans-serif] font-semibold mr-6 text-xl cursor-pointer transition duration-200 no-underline hover:text-gray-200"
        >INICIO</a
      >
      <a
        href="#"
        class="text-white font-['system-ui',_'-apple-system',_'BlinkMacSystemFont',_'Segoe_UI',_'Roboto',_'Oxygen',_'Ubuntu',_'Cantarell',_'Open_Sans',_'Helvetica_Neue',_sans-serif] font-semibold mr-6 text-xl cursor-pointer transition duration-200 no-underline hover:text-gray-200"
        >UNIVERSIDADES</a
      >
      <a
        href="#"
        class="text-white font-['system-ui',_'-apple-system',_'BlinkMacSystemFont',_'Segoe_UI',_'Roboto',_'Oxygen',_'Ubuntu',_'Cantarell',_'Open_Sans',_'Helvetica_Neue',_sans-serif] font-semibold mr-6 text-xl cursor-pointer transition duration-200 no-underline hover:text-gray-200"
        >FINES</a
      >
      <a
        href="#"
        class="text-white font-['system-ui',_'-apple-system',_'BlinkMacSystemFont',_'Segoe_UI',_'Roboto',_'Oxygen',_'Ubuntu',_'Cantarell',_'Open_Sans',_'Helvetica_Neue',_sans-serif] font-semibold mr-6 text-xl cursor-pointer transition duration-200 no-underline hover:text-gray-200"
        >CLIC</a
      >
      <a
        href="#"
        class="text-white font-['system-ui',_'-apple-system',_'BlinkMacSystemFont',_'Segoe_UI',_'Roboto',_'Oxygen',_'Ubuntu',_'Cantarell',_'Open_Sans',_'Helvetica_Neue',_sans-serif] font-semibold mr-6 text-xl cursor-pointer transition duration-200 no-underline hover:text-gray-200"
        >NOTICIAS</a
      >
      <a
        href="#"
        class="text-white font-['system-ui',_'-apple-system',_'BlinkMacSystemFont',_'Segoe_UI',_'Roboto',_'Oxygen',_'Ubuntu',_'Cantarell',_'Open_Sans',_'Helvetica_Neue',_sans-serif] font-semibold mr-6 text-xl cursor-pointer transition duration-200 no-underline hover:text-gray-200"
        >EVENTOS</a
      >
      <div
        class="ml-6 w-[220px] h-24 flex justify-center items-center cursor-pointer transition duration-200 hover:bg-[#636363]"
      >
        <a
          class="text-white font-['system-ui',_'-apple-system',_'BlinkMacSystemFont',_'Segoe_UI',_'Roboto',_'Oxygen',_'Ubuntu',_'Cantarell',_'Open_Sans',_'Helvetica_Neue',_sans-serif] font-semibold text-xl no-underline"
        >
          INSCRIPCIONES
        </a>
      </div>
    </nav>
  </header>
</layout>
