---
---
<div class="h-24 bg-[#4b4b4d] flex items-center px-6">
  <img class="h-[90px] w-[140px] mr-8 flex-shrink-0" src="./logo.png" alt="Logo de Clic Baradero" />
  <nav id="navbar-links" class="flex items-center gap-4 whitespace-nowrap overflow-hidden">
    <a href="/" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">INICIO</a>
    <a href="/universidades" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">UNIVERSIDADES</a>
    <a href="/centrouniversitario" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">CUB</a>
    <a href="/clic" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">CLIC</a>
    <a href="/fines" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">FINES</a>
    <a href="/contac" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">CONTACTANOS</a>
    <a href="/noticias" class="text-white text-sm font-semibold px-[25px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">NOTICIAS</a>
    <a href="/eventos" class="text-white text-sm font-semibold px-[25px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">EVENTOS</a>
    <a href="/form" class="text-white text-sm font-semibold px-[25px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">INSCRIPCIONES</a>
    <a href="/sob-nosotros" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">SOBRE NOSOTROS</a>
    <a href="/producciones-alumnos" class="text-white text-sm font-semibold px-[20px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">PRODUCCIONES ALUMNOS</a>
    <a href="/afiliacion-municipal" class="text-white text-sm font-semibold px-[25px] py-[6px] rounded-md hover:bg-[#606062] transition-colors duration-200">AFILIACION MUNICIPAL</a>
  </nav>
</div>
</header>